:root {
  --color-accent: #db00ff;
  --color-primary: #ff0070;
  --color-secondary: #f1b2ce;
  --color-additional: #000028;
  --color-hover: rgba(255, 0, 112, 0.4);
  --color-shadow-big: 4px 4px 0 var(--color-primary);
  --color-shadow-small: 2px 2px 0 var(--color-primary);

  --bg-color: #000028;
  --bg-image: url("../images/cover-image-dark.png");

  --ff-main: 'IBM plex mono', sans-serif;
  --fz-page: 18px;
  --fz-text: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);

  --decorated-zone-color: var(--color-primary);
  --theme-menu-color: var(--color-primary);
  --theme-menu-hover-color: var(--color-hover);
  --huge-title-color: var(--color-accent);
  --huge-text-color: var(--color-additional);
  --huge-text-bg: var(--color-primary);
  --huge-shadow-color: var(--color-shadow-big);
  --link-shadow-color: var(--color-shadow-small);
  --std-title-text-color: var(--color-additional);
  --std-title-bg-color: var(--color-primary);
  --section-title-color: var(--color-primary);
  --article-text-color: var(--color-secondary);
  --link-text-color: var(--color-secondary);

  --gap: 10px;

  --visibility: visible;
}
